In [212]:
import pandas as pd
import sqlalchemy
import yaml
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [213]:
# if credential_reader() doesnt work add the below back into code:
#yaml_credntials = r"/Users/joeybest/Ai Core/EDA/exploratory-data-analysis---customer-loans-in-finance334/credentials.yaml"
def credentials_reader():
        with open('credentials.yaml', 'r') as file:
            credentials = yaml.safe_load(file)
            return credentials

In [214]:
class RDSDatabaseConnector:
    def __init__(self, credentials):
        self.credentials = credentials
        
    def initiate_engine(self):

        self.DATABASE_TYPE = 'postgresql'
        self.DBAPI = 'psycopg2'
        self.HOST = 'eda-projects.cq2e8zno855e.eu-west-1.rds.amazonaws.com'
        self.USER = 'loansanalyst'
        self.PASSWORD = 'EDAloananalyst'
        self.DATABASE = 'payments'
        self.PORT = 5432

        self.engine = create_engine(f"{self.DATABASE_TYPE}+{self.DBAPI}://{self.USER}:{self.PASSWORD}@{self.HOST}:{self.PORT}/{self.DATABASE}")
        self.engine.execution_options(isolation_level='AUTOCOMMIT').connect()
        
        inspector = inspect(self.engine)
        self.table_inspector = inspector.get_table_names()
        print(self.table_inspector)

    def database_to_dataframe(self):
        ######### maybe add wiith self.engine.connect() as connection: (only if it doesn't work like this)
        self.loans = pd.read_sql_table('loan_payments', self.engine)
        return self.loans.head(10), self.loans.tail(10)
        
# Saves the data to your current pathway as eda.csv
    def saves_data_locally(self):
        self.loans_df.to_csv('eda.csv', sep=',', index=False, encoding='utf-8')

    def load_localdata_to_dataframe(self):
        # Defining the columns to read
        usecols = ["id", "member_id","loan_amount", "funded_amount", "funded_amount_inv", "term", "int_rate", "instalment", "grade", "sub_grade", "employment_length", "home_ownership", "annual_inc", "verification_status", "issue_date", "loan_status", "payment_plan", "purpose", "dti", "delinq_2yrs", "earliest_credit_line", "inq_last_6mths", "mths_since_last_record", "open_accounts", "total_accounts", "out_prncp", "out_prncp_inv", "total_payment", "total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_payment_date", "last_payment_amount", "next_payment_date", "last_credit_pull_date", "collections_12_mths_ex_med", "mths_since_last_major_derog", "policy_code", "application_type"]
    # Read data with subset of columns
        loan_data_df = pd.read_csv("/Users/joeybest/Ai Core/EDA/exploratory-data-analysis---customer-loans-in-finance334/eda.csv", index_col="id", usecols=usecols)
        return loan_data_df

In [215]:
if __name__ == "__main__":#(for all code blocks you want run, add in later!)
#### come back to later on

# reads credentials from yaml file
    credentials = credentials_reader()

    RDSDatabaseConnector(credentials)
    # next creates instance of the rds connector
    loan_data = RDSDatabaseConnector(credentials)
    loan_data.initiate_engine()
    loan_data.database_to_dataframe()
    
    extracted_data_frame = loan_data.database_to_dataframe()
    print(extracted_data_frame)

    # was after extracted dataframe variable but it seems to work without it:
    # pd.DataFrame

['loan_payments']
(         id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0  38676116   41461848         8000         8000.0             8000.0
1  38656203   41440010        13200        13200.0            13200.0
2  38656154   41439961        16000        16000.0            16000.0
3  38656128   41439934        15000        15000.0            15000.0
4  38656121   41439927        15000        15000.0            15000.0
5  38656111   41439917         2525         2525.0             2525.0
6  38656110   41439916         6675         6675.0             6675.0
7  38656067   41439872        26500        26500.0            26200.0
8  38656063   41439868        10000        10000.0            10000.0
9  38656052   41439857        10000            NaN            10000.0

        term  int_rate  instalment grade sub_grade  ... recoveries  \
0  36 months      7.49      248.82     A        A4  ...        0.0
1  36 months      6.99      407.52     A        A3  ...        0.0
2  36 months      7.49      497.63     A        A4  ...        0.0
3  36 months     14.31      514.93     C        C4  ...        0.0
4  36 months      6.03      456.54     A        A1  ...        0.0
5  36 months     11.44       83.20     B        B4  ...        0.0
6       None     21.99      254.89     E        E5  ...        0.0
7       None     19.99      701.95     E        E3  ...        0.0
8  60 months     12.99      227.48     C        C2  ...        0.0
9  36 months      8.19      314.25     A        A5  ...        0.0

  collection_recovery_fee  last_payment_date last_payment_amount  \
0                     0.0           Jan-2022              248.82
1                     0.0           Jan-2022              407.52
2                     0.0           Oct-2021            12850.16
3                     0.0           Jun-2021            13899.67
4                     0.0           Jan-2022              456.54
5                     0.0           Jan-2022               91.39
6                     0.0           Mar-2021             6724.95
7                     0.0           Aug-2021              701.95
8                     0.0           Jan-2022              227.48
9                     0.0           Jan-2022              314.25

  next_payment_date last_credit_pull_date collections_12_mths_ex_med  \
0          Feb-2022              Jan-2022                        0.0
1          Feb-2022              Jan-2022                        0.0
2              None              Oct-2021                        0.0
3              None              Jun-2021                        0.0
4          Feb-2022              Jan-2022                        0.0
5          Feb-2022              Jan-2022                        0.0
6              None              Mar-2021                        0.0
7              None              Jan-2022                        0.0
8          Feb-2022              Jan-2022                        0.0
9          Feb-2022              Jan-2022                        0.0

  mths_since_last_major_derog  policy_code  application_type
0                         5.0            1        INDIVIDUAL
1                         NaN            1        INDIVIDUAL
2                         NaN            1        INDIVIDUAL
3                         NaN            1        INDIVIDUAL
4                         NaN            1        INDIVIDUAL
5                         NaN            1        INDIVIDUAL
6                         NaN            1        INDIVIDUAL
7                        43.0            1        INDIVIDUAL
8                         NaN            1        INDIVIDUAL
9                         NaN            1        INDIVIDUAL

[10 rows x 43 columns],            id  member_id  loan_amount  funded_amount  funded_amount_inv  \
54221  395632      91027         5500         5500.0             5450.0
54222   90395      90390         5000         5000.0             1325.0
54223   88637      88629         6000         6000.0              650.0
54224   88046      88023         4400         4400.0             1400.0
54225  115606      87310        12800        12800.0             1000.0
54226   76597      76583         5000         5000.0             1775.0
54227  142608      74724         5000         5000.0             2350.0
54228  117045      70978         3500         3500.0             2225.0
54229   88854      70699         5000         5000.0              225.0
54230   72323      70694         5000         5000.0              350.0

            term  int_rate  instalment grade sub_grade  ... recoveries  \
54221  36 months     13.16      185.74     C        C3  ...       0.00
54222  36 months      8.07      156.84     A        A4  ...       0.00
54223  36 months     10.59      195.28     C        C2  ...       0.00
54224  36 months      9.64      141.25     B        B4  ...       0.00
54225       None     15.01      443.81     F        F1  ...       0.00
54226  36 months      9.01      159.03     B        B2  ...       0.00
54227  36 months     10.59      162.73     C        C2  ...       0.00
54228  36 months      7.43      108.77     A        A2  ...       0.00
54229  36 months      7.43      155.38     A        A2  ...       0.00
54230  36 months     11.54      164.98     C        C5  ...     182.27

      collection_recovery_fee  last_payment_date last_payment_amount  \
54221                    0.00           Oct-2016               85.66
54222                    0.00           Apr-2014                0.00
54223                    0.00           Jun-2016              197.36
54224                    0.00           Jun-2016              143.28
54225                    0.00           Jul-2014             9921.87
54226                    0.00           Jul-2016              160.61
54227                    0.00           Oct-2016              490.01
54228                    0.00           Sep-2016              110.58
54229                    0.00           Mar-2014                0.00
54230                    1.84           Mar-2014              164.97

      next_payment_date last_credit_pull_date collections_12_mths_ex_med  \
54221          Nov-2016              Apr-2021                        0.0
54222              None              Jun-2013                        NaN
54223          Jul-2016              Oct-2020                        NaN
54224          Jul-2016              Feb-2021                        NaN
54225          Aug-2014              Jun-2013                        NaN
54226              None              Jul-2016                        NaN
54227              None              Sep-2016                        0.0
54228          Sep-2016              May-2013                        NaN
54229              None              May-2013                        NaN
54230          Dec-2014              Jan-2015                        NaN

      mths_since_last_major_derog  policy_code  application_type
54221                         NaN            1        INDIVIDUAL
54222                         NaN            1        INDIVIDUAL
54223                         NaN            1        INDIVIDUAL
54224                         NaN            1        INDIVIDUAL
54225                         NaN            1        INDIVIDUAL
54226                         NaN            1        INDIVIDUAL
54227                         NaN            1        INDIVIDUAL
54228                         NaN            1        INDIVIDUAL
54229                         NaN            1        INDIVIDUAL
54230                         NaN            1        INDIVIDUAL

[10 rows x 43 columns])

In [216]:
table_of_loans = loan_data.load_localdata_to_dataframe()

In [217]:
print(table_of_loans.head(10))
print(table_of_loans.tail(10))

          member_id  loan_amount  funded_amount  funded_amount_inv       term  \
id
38676116   41461848         8000         8000.0             8000.0  36 months
38656203   41440010        13200        13200.0            13200.0  36 months
38656154   41439961        16000        16000.0            16000.0  36 months
38656128   41439934        15000        15000.0            15000.0  36 months
38656121   41439927        15000        15000.0            15000.0  36 months
38656111   41439917         2525         2525.0             2525.0  36 months
38656110   41439916         6675         6675.0             6675.0        NaN
38656067   41439872        26500        26500.0            26200.0        NaN
38656063   41439868        10000        10000.0            10000.0  60 months
38656052   41439857        10000            NaN            10000.0  36 months

          int_rate  instalment grade sub_grade employment_length  ...  \
id                                                                ...
38676116      7.49      248.82     A        A4           5 years  ...
38656203      6.99      407.52     A        A3           9 years  ...
38656154      7.49      497.63     A        A4           8 years  ...
38656128     14.31      514.93     C        C4            1 year  ...
38656121      6.03      456.54     A        A1         10+ years  ...
38656111     11.44       83.20     B        B4          < 1 year  ...
38656110     21.99      254.89     E        E5               NaN  ...
38656067     19.99      701.95     E        E3          < 1 year  ...
38656063     12.99      227.48     C        C2          < 1 year  ...
38656052      8.19      314.25     A        A5         10+ years  ...

         recoveries  collection_recovery_fee last_payment_date  \
id
38676116        0.0                      0.0          Jan-2022
38656203        0.0                      0.0          Jan-2022
38656154        0.0                      0.0          Oct-2021
38656128        0.0                      0.0          Jun-2021
38656121        0.0                      0.0          Jan-2022
38656111        0.0                      0.0          Jan-2022
38656110        0.0                      0.0          Mar-2021
38656067        0.0                      0.0          Aug-2021
38656063        0.0                      0.0          Jan-2022
38656052        0.0                      0.0          Jan-2022

         last_payment_amount next_payment_date last_credit_pull_date  \
id
38676116              248.82          Feb-2022              Jan-2022
38656203              407.52          Feb-2022              Jan-2022
38656154            12850.16               NaN              Oct-2021
38656128            13899.67               NaN              Jun-2021
38656121              456.54          Feb-2022              Jan-2022
38656111               91.39          Feb-2022              Jan-2022
38656110             6724.95               NaN              Mar-2021
38656067              701.95               NaN              Jan-2022
38656063              227.48          Feb-2022              Jan-2022
38656052              314.25          Feb-2022              Jan-2022

         collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  \
id
38676116                        0.0                          5.0            1
38656203                        0.0                          NaN            1
38656154                        0.0                          NaN            1
38656128                        0.0                          NaN            1
38656121                        0.0                          NaN            1
38656111                        0.0                          NaN            1
38656110                        0.0                          NaN            1
38656067                        0.0                         43.0            1
38656063                        0.0                          NaN            1
38656052                        0.0                          NaN            1

         application_type
id
38676116       INDIVIDUAL
38656203       INDIVIDUAL
38656154       INDIVIDUAL
38656128       INDIVIDUAL
38656121       INDIVIDUAL
38656111       INDIVIDUAL
38656110       INDIVIDUAL
38656067       INDIVIDUAL
38656063       INDIVIDUAL
38656052       INDIVIDUAL

[10 rows x 39 columns]
        member_id  loan_amount  funded_amount  funded_amount_inv       term  \
id
395632      91027         5500         5500.0             5450.0  36 months
90395       90390         5000         5000.0             1325.0  36 months
88637       88629         6000         6000.0              650.0  36 months
88046       88023         4400         4400.0             1400.0  36 months
115606      87310        12800        12800.0             1000.0        NaN
76597       76583         5000         5000.0             1775.0  36 months
142608      74724         5000         5000.0             2350.0  36 months
117045      70978         3500         3500.0             2225.0  36 months
88854       70699         5000         5000.0              225.0  36 months
72323       70694         5000         5000.0              350.0  36 months

        int_rate  instalment grade sub_grade employment_length  ...  \
id                                                              ...
395632     13.16      185.74     C        C3          < 1 year  ...
90395       8.07      156.84     A        A4          < 1 year  ...
88637      10.59      195.28     C        C2          < 1 year  ...
88046       9.64      141.25     B        B4           2 years  ...
115606     15.01      443.81     F        F1            1 year  ...
76597       9.01      159.03     B        B2            1 year  ...
142608     10.59      162.73     C        C2          < 1 year  ...
117045      7.43      108.77     A        A2         10+ years  ...
88854       7.43      155.38     A        A2           4 years  ...
72323      11.54      164.98     C        C5           9 years  ...

       recoveries  collection_recovery_fee last_payment_date  \
id
395632       0.00                     0.00          Oct-2016
90395        0.00                     0.00          Apr-2014
88637        0.00                     0.00          Jun-2016
88046        0.00                     0.00          Jun-2016
115606       0.00                     0.00          Jul-2014
76597        0.00                     0.00          Jul-2016
142608       0.00                     0.00          Oct-2016
117045       0.00                     0.00          Sep-2016
88854        0.00                     0.00          Mar-2014
72323      182.27                     1.84          Mar-2014

       last_payment_amount next_payment_date last_credit_pull_date  \
id
395632               85.66          Nov-2016              Apr-2021
90395                 0.00               NaN              Jun-2013
88637               197.36          Jul-2016              Oct-2020
88046               143.28          Jul-2016              Feb-2021
115606             9921.87          Aug-2014              Jun-2013
76597               160.61               NaN              Jul-2016
142608              490.01               NaN              Sep-2016
117045              110.58          Sep-2016              May-2013
88854                 0.00               NaN              May-2013
72323               164.97          Dec-2014              Jan-2015

       collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  \
id
395632                        0.0                          NaN            1
90395                         NaN                          NaN            1
88637                         NaN                          NaN            1
88046                         NaN                          NaN            1
115606                        NaN                          NaN            1
76597                         NaN                          NaN            1
142608                        0.0                          NaN            1
117045                        NaN                          NaN            1
88854                         NaN                          NaN            1
72323                         NaN                          NaN            1

       application_type
id
395632       INDIVIDUAL
90395        INDIVIDUAL
88637        INDIVIDUAL
88046        INDIVIDUAL
115606       INDIVIDUAL
76597        INDIVIDUAL
142608       INDIVIDUAL
117045       INDIVIDUAL
88854        INDIVIDUAL
72323        INDIVIDUAL

[10 rows x 39 columns]

In [226]:
print(table_of_loans.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  object
 1   member_id                    54231 non-null  object
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  bool
 17  purpose                      54231 non-null  object
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  object
 42  application_type             54231 non-null  object
dtypes: bool(1), float64(20), int64(5), object(17)
memory usage: 17.4+ MB
None

In [219]:
print(table_of_loans.describe())

          member_id   loan_amount  funded_amount  funded_amount_inv  \
count  5.423100e+04  54231.000000   51224.000000       54231.000000
mean   8.655350e+06  13333.076100   13229.509117       12952.622979
std    1.031281e+07   8082.196709    8019.017599        8099.473527
min    7.069400e+04    500.000000     500.000000           0.000000
25%    9.587720e+05   7000.000000    7000.000000        6700.000000
50%    8.709873e+06  12000.000000   12000.000000       11300.000000
75%    1.052714e+07  18000.000000   18000.000000       18000.000000
max    4.146185e+07  35000.000000   35000.000000       35000.000000

           int_rate    instalment    annual_inc           dti   delinq_2yrs  \
count  49062.000000  54231.000000  5.423100e+04  54231.000000  54231.000000
mean      13.507328    400.013953  7.222085e+04     15.867087      0.241799
std        4.392893    238.920012  5.158934e+04      7.623124      0.706706
min        5.420000     15.670000  3.300000e+03      0.000000      0.000000
25%       10.370000    224.205000  4.500000e+04     10.200000      0.000000
50%       13.160000    347.150000  6.100000e+04     15.600000      0.000000
75%       16.200000    527.550000  8.600000e+04     21.260000      0.000000
max       26.060000   1407.010000  2.039784e+06     39.910000     18.000000

       inq_last_6mths  ...  out_prncp_inv  total_payment  total_rec_int  \
count    54231.000000  ...   54231.000000   54231.000000   54231.000000
mean         0.893843  ...    2752.568147   12079.208480    2577.757101
std          1.261421  ...    5153.043643    8391.043845    2581.657345
min          0.000000  ...       0.000000       0.000000       0.000000
25%          0.000000  ...       0.000000    5895.210000     889.560000
50%          1.000000  ...       0.000000   10113.250000    1734.640000
75%          1.000000  ...    3394.980000   16272.895000    3323.765000
max         33.000000  ...   32399.940000   55758.222084   23062.450000

       total_rec_late_fee    recoveries  collection_recovery_fee  \
count        54231.000000  54231.000000             54231.000000
mean             0.901512     93.501288                10.859057
std              6.215792    630.843636               120.193950
min              0.000000      0.000000                 0.000000
25%              0.000000      0.000000                 0.000000
50%              0.000000      0.000000                 0.000000
75%              0.000000      0.000000                 0.000000
max            358.680000  27750.000000              7002.190000

       last_payment_amount  collections_12_mths_ex_med  \
count         54231.000000                54180.000000
mean           3130.706393                    0.004208
std            5323.801675                    0.070990
min               0.000000                    0.000000
25%             289.790000                    0.000000
50%             562.670000                    0.000000
75%            3738.120000                    0.000000
max           36115.200000                    4.000000

       mths_since_last_major_derog  policy_code
count                  7499.000000      54231.0
mean                     42.253634          1.0
std                      21.052360          0.0
min                       0.000000          1.0
25%                      26.000000          1.0
50%                      42.000000          1.0
75%                      59.000000          1.0
max                     146.000000          1.0

[8 rows x 24 columns]

In [221]:
print(f"std loan_amount = {table_of_loans['loan_amount'].std()}, mean loan_amount = {table_of_loans['loan_amount'].mean()}")

std loan_amount = 8082.196709213126, mean loan_amount = 13333.076100385388

In [223]:
print(f"Max loan: {table_of_loans['loan_amount'].max()}, Min loan:{table_of_loans['loan_amount'].min()}")

Max loan: 35000, Min loan:500

## Exploring the data end

In [240]:
import pandas as pd
from db_utils import RDSDatabaseConnector

class DataTransform:

    def __init__(self, df_info):
        self.df_info = df_info

    def to_interger(self, column):
        for col in column:
            self.df_info[col] = self.df_info[col].fillna(0).astype('int32')
            # converts to int and fills NULL with 0

    def to_boolean(self, column_name):
        mask = {'n': False, 'y': True}
        self.df_info[column_name].map(mask)
        self.df_info[column_name] = self.df_info[column_name].astype('bool')
        print(self.df_info[column_name].unique())

    def to_object(self, column):
        for col in column:
            self.df_info[col] = self.df_info[col].astype(object)
    
    def to_float(self, column):
        for col in column:
            self.df_info[col] = self.df_info[col].astype('float64')

    def to_rounded_float(self, column, decimal_places):
        self.df_info[column] = self.df_info[column].apply(lambda x: round(x, decimal_places))

    def to_category(self, column):
        for col in column:
            self.df_info[col] = self.df_info[col].astype('category')

    def to_numerical_column(self, column):
        for col in column:
            pd.to_numeric(self.df_info[col])

    def extract_integer_from_string(self, column):
        for col in column:
            self.df_info[col] = self.df_info[col].str.extract('(\d+)')

    def strings_to_dates(self, column):
        for col in column:
            self.df_info[col] = pd.to_datetime(self.df_info[col], errors='coerce', format="%b-%Y")#.dt.to_period('M') - method converts the datetime to a period (M) which is a date that contains only the month and year since this is the resolution of the data provided.

    def replace_string_text(self, column_name, original_string: str, new_string: str):
        self.df_info[column_name].replace(original_string, new_string)

    def rename(self, column_name, new_column_name):
        self.df_info.rename(columns={col_name: new_col_name})

    def drop_column(self, column):
        for col in column:
            self.df_info.drop(col, axis=1, inplace=True)

    def remove_null_rows(self, column_name):
        '''
        This method is used to remove rows within the dataframe where data points from a specified column are null.
        '''
        self.df_info.dropna(subset=column_name, inplace=True)

In [241]:
if __name__ ==  "__main__":
    table_of_loans = pd.read_csv('eda.csv')
    Transform = DataTransform(table_of_loans)

    Transform.to_boolean('payment_plan')
    # transforms n to false and y to true in the payment plan column

    to_object_columns = ['id', 'member_id', 'policy_code']
    Transform.to_object(to_object_columns)
    
    convert_categories = ['grade', 'sub_grade', 'home_ownership', 'verification_status', 'loan_status', 'purpose', 'employment_length']
    Transform.to_category(convert_categories)
    # transforms column values to catagories

    string_month_and_year = ['last_credit_pull_date', 'next_payment_date', 'last_payment_date', 'earliest_credit_line', 'issue_date']
    Transform.strings_to_dates(string_month_and_year)
    # transforms strings to a datetime format MonthYear

    string_numbers = ['term']
    Transform.extract_integer_from_string(string_numbers)

    numericals = ['term', 'mths_since_last_record', 'mths_since_last_major_derog', 'mths_since_last_delinq', 'mths_since_last_record']
    Transform.to_numerical_column(numericals)

    drop_cols = ['funded_amount', 'application_type', 'policy_code', 'out_prncp_inv', 'total_payment_inv']
    Transform.drop_column(drop_cols)
    # funded_amount is missing some data but contains the same data as funded_amount_inv, so we can drop it
    # out_prncp_inv contains the same data as out_prncp, so we can drop it
    # total_payment_inv contains the same data as total_payment, so we can drop it
    # application_type and policy_code are the same for everyone and doesn't provide us with much info
    
    int_numbers = ['loan_amount', 'funded_amount_inv', 'annual_inc', 'term', 'open_accounts', 'total_accounts', 'collections_12_mths_ex_med', 'mths_since_last_delinq', 'mths_since_last_major_derog']
    Transform.to_interger(int_numbers)
    
    Transform.to_rounded_float('collection_recovery_fee', 2)

[ True]

In [248]:
print(Transform.df_info.dtypes)

id                                     object
member_id                              object
loan_amount                             int32
funded_amount_inv                       int32
term                                    int32
int_rate                              float64
instalment                            float64
grade                                category
sub_grade                            category
employment_length                    category
home_ownership                       category
annual_inc                              int32
verification_status                  category
issue_date                     datetime64[ns]
loan_status                          category
payment_plan                             bool
purpose                              category
dti                                   float64
delinq_2yrs                             int64
earliest_credit_line           datetime64[ns]
inq_last_6mths                          int64
mths_since_last_delinq                  int32
mths_since_last_record                float64
open_accounts                           int32
total_accounts                          int32
out_prncp                             float64
total_payment                         float64
total_rec_prncp                       float64
total_rec_int                         float64
total_rec_late_fee                    float64
recoveries                            float64
collection_recovery_fee               float64
last_payment_date              datetime64[ns]
last_payment_amount                   float64
next_payment_date              datetime64[ns]
last_credit_pull_date          datetime64[ns]
collections_12_mths_ex_med              int32
mths_since_last_major_derog             int32
dtype: object

In [247]:
print(Transform.df_info.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  object
 1   member_id                    54231 non-null  object
 2   loan_amount                  54231 non-null  int32
 3   funded_amount_inv            54231 non-null  int32
 4   term                         54231 non-null  int32
 5   int_rate                     49062 non-null  float64
 6   instalment                   54231 non-null  float64
 7   grade                        54231 non-null  category
 8   sub_grade                    54231 non-null  category
 9   employment_length            52113 non-null  category
 10  home_ownership               54231 non-null  category
 11  annual_inc                   54231 non-null  int32
 12  verification_status          54231 non-null  category
 13  issue_date                   54231 non-null  datetime64[ns]
 14  loan_status                  54231 non-null  category
 15  payment_plan                 54231 non-null  bool
 16  purpose                      54231 non-null  category
 17  dti                          54231 non-null  float64
 18  delinq_2yrs                  54231 non-null  int64
 19  earliest_credit_line         54231 non-null  datetime64[ns]
 20  inq_last_6mths               54231 non-null  int64
 21  mths_since_last_delinq       54231 non-null  int32
 22  mths_since_last_record       6181 non-null   float64
 23  open_accounts                54231 non-null  int32
 24  total_accounts               54231 non-null  int32
 25  out_prncp                    54231 non-null  float64
 26  total_payment                54231 non-null  float64
 27  total_rec_prncp              54231 non-null  float64
 28  total_rec_int                54231 non-null  float64
 29  total_rec_late_fee           54231 non-null  float64
 30  recoveries                   54231 non-null  float64
 31  collection_recovery_fee      54231 non-null  float64
 32  last_payment_date            54158 non-null  datetime64[ns]
 33  last_payment_amount          54231 non-null  float64
 34  next_payment_date            21623 non-null  datetime64[ns]
 35  last_credit_pull_date        54224 non-null  datetime64[ns]
 36  collections_12_mths_ex_med   54231 non-null  int32
 37  mths_since_last_major_derog  54231 non-null  int32
dtypes: bool(1), category(7), datetime64[ns](5), float64(12), int32(9), int64(2), object(2)
memory usage: 11.0+ MB
None

In [242]:
table_of_loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  object
 1   member_id                    54231 non-null  object
 2   loan_amount                  54231 non-null  int32
 3   funded_amount_inv            54231 non-null  int32
 4   term                         54231 non-null  int32
 5   int_rate                     49062 non-null  float64
 6   instalment                   54231 non-null  float64
 7   grade                        54231 non-null  category
 8   sub_grade                    54231 non-null  category
 9   employment_length            52113 non-null  category
 10  home_ownership               54231 non-null  category
 11  annual_inc                   54231 non-null  int32
 12  verification_status          54231 non-null  category
 13  issue_date                   54231 non-null  datetime64[ns]
 14  loan_status                  54231 non-null  category
 15  payment_plan                 54231 non-null  bool
 16  purpose                      54231 non-null  category
 17  dti                          54231 non-null  float64
 18  delinq_2yrs                  54231 non-null  int64
 19  earliest_credit_line         54231 non-null  datetime64[ns]
 20  inq_last_6mths               54231 non-null  int64
 21  mths_since_last_delinq       54231 non-null  int32
 22  mths_since_last_record       6181 non-null   float64
 23  open_accounts                54231 non-null  int32
 24  total_accounts               54231 non-null  int32
 25  out_prncp                    54231 non-null  float64
 26  total_payment                54231 non-null  float64
 27  total_rec_prncp              54231 non-null  float64
 28  total_rec_int                54231 non-null  float64
 29  total_rec_late_fee           54231 non-null  float64
 30  recoveries                   54231 non-null  float64
 31  collection_recovery_fee      54231 non-null  float64
 32  last_payment_date            54158 non-null  datetime64[ns]
 33  last_payment_amount          54231 non-null  float64
 34  next_payment_date            21623 non-null  datetime64[ns]
 35  last_credit_pull_date        54224 non-null  datetime64[ns]
 36  collections_12_mths_ex_med   54231 non-null  int32
 37  mths_since_last_major_derog  54231 non-null  int32
dtypes: bool(1), category(7), datetime64[ns](5), float64(12), int32(9), int64(2), object(2)
memory usage: 11.0+ MB

In [ ]:
RDSDatabaseConnector.saves_data_locally(Transform.df_info, 'Transformed_eda.csv')